<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de usuarios</title>
    <link rel="stylesheet" href="../estilos/estilosBiblio.css">
  </head>
  <body>
    <h1 class="titulo">Gestion de usuarios</h1>
    <div class="login">
      <h2 class="subtitulo">Registrar nuevo usuario</h2>
      <div class="formulario">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" />
        <label for="email">Email</label>
        <input id="email" type="email" />
        <label for="fecha">Fecha de nacimiento</label>
        <input id="fecha" type="date" />
        <button id="btnEnviarUsuario" type="submit">Registrar usuario</button>
      </div>
    </div>
    <div class="cabezeralista">
      <ul>
        <li>#</li>
        <li>Nombre</li>
        <li>Email</li>
        <li>Fecha de nacimiento</li>
        <li>Acciones</li>
      </ul>
    </div>
    <div id="lista"></div>
    <script src="../scripts/user.js"></script>
  </body>
</html>
